@font-face {
    font-family: "yekan", Arial;
    src: local("yekan"), url("/src/fonts/Yekan.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "yekan" !important;
    text-decoration: none;
    &:visited {
        color: unset;
    }
}

ul {
    list-style: none;

    li {
        cursor: pointer;
    }
}

body {
    background-color: white;
}

hr {
    background-color: rgb(234, 231, 231);
    border: none;
    height: 1px;
}

button {
    cursor: pointer;
    border: none;
}

figure {
    border: none;
    display: block;
}
figcaption {
    text-align: center;
}

a {
    cursor: pointer;
}

.container {
    width: min(80em, 95%);
    margin-inline: auto;
}

.flex {
    display: flex;
}
.it-center {
    align-items: center;
}

.ju-bet {
    justify-content: space-between;
}

.ov-hid {
    overflow: hidden;
}
